<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>View All Cards</title>
</head>
<body>

    <div th:each="card : ${cardList}">

        <h3 th:text="${card.cardName}">CARD</h3>
        <p th:text="${card.setName}">SET</p>
        <p th:text="${card.numHave}">INVENTORY</p>
        <img th:src="@{/img/{file}(file=${card.cardImageFileName})}" th:alt="${card.cardName}">
        <br/>
        <button>Add To Cart</button>
        <br/>
        <button>Remove One From Cart</button>
        <br/>
        <button>Remove All From Cart</button>

    </div>
</body>
</html>