<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Checkout</title>
    <link th:href="@{/styles.css}" rel="stylesheet"/>
</head>
<body>

    <p th:unless="${cart} and ${cart.size()}">Nothing In Cart</p>


    <table>
        <tr>
            <th>Card</th>
            <th>Set</th>
            <th></th> <!-- IMAGE -->
            <th>Count</th>
            <th>Price</th>
            <th>SubTotal</th> <!-- BUTTON OPTIONS -->
        </tr>
        <tr th:each="card,iter: ${selectedCards}">
            <td th:text="${card.cardName}">CARD</td>
            <td th:text="${card.setName}">SET</td>
            <td>
                <img class="cardImage" th:src="@{/img/{file}(file=${card.cardImageFileName})}" th:alt="${card.cardName}">
            </td>
            <td th:text="${cart.get(iter.index).quantityChosen} + ' X' ">COUNT</td>
            <td th:text="${card.costUSD}">PRICE</td>

            <td th:with="var=${(card.costUSD) * (cart.get(iter.index).quantityChosen)}"th:text="${#numbers.formatDecimal(var, 1, 'COMMA', 2, 'POINT')}">MULTIPLIER</td>

        </tr>
        <tr>
            <td></td><td></td><td></td><td></td><td>Subtotal: </td>
            <td th:text="${#numbers.formatDecimal(subtotal, 1, 'COMMA', 2, 'POINT')}">SUBTOTAL</td>
        </tr>
        <tr>
            <td></td><td></td><td></td><td></td><td>State Tax: </td>
            <td th:text="${#numbers.formatDecimal(tax, 1, 'COMMA', 2, 'POINT')}">TAX</td>
        </tr>
        <tr>
            <td></td><td></td><td></td><td></td><td>Total: </td>
            <td th:text="${#numbers.formatDecimal(total, 1, 'COMMA', 2, 'POINT')}">TOTAL</td>
        </tr>


    </table>

    <button  th:onclick="|document.location='@{/list/confirm}'|">Confirm Order</button>


</body>
</html>