<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Detail</title>
    <link th:href="@{/styles.css}" rel="stylesheet"/>
</head>
<body>

<table>
    <tr>
        <th>Card</th>
        <th>Set</th>
        <th></th> <!-- IMAGE -->
        <th>Number Available</th>
        <th>Condition</th>
        <th>Price</th>
        <th></th> <!-- BUTTON OPTIONS -->
    </tr>
    <tr>
        <td th:text="${product.cardName}">CARD</td>
        <td th:text="${product.setName}">SET</td>
        <td>
            <img class="productImage" th:src="@{/img/{file}(file=${product.cardImageFileName})}" th:alt="${product.cardName}">
        </td>
        <td th:text="${listing.count}">AVAILABLE</td>
        <td >
            <div th:text="${product.condition}">CONDITION</div>
            <br>
            <div class="question" title="Card Condition(D HP MP LP NM) &#13;&#10;
        (Damaged, Heavily Played, Moderately Played, Lightly Played, Near Mint)">
                <img th:src="@{/img/{file}(file=${'qmark.png'})}" alt="What is this?" height="25" width="25"/>
            </div>
        </td>
        <td th:text="${product.costUSD}">PRICE</td>
        <td>
            <form method="post">


                <label for="count">How Many Would You Like?</label>

                <input type="number" id="count" name="count" value="0" min="0" th:max="${listing.count}"/>

                <br/>

                <input type="submit" value="Update Cart"/>
            </form>

        </td>

    </tr>

</table>
</body>
</html>