<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
  <meta charset="UTF-8"/>
  <title>View All Cards</title>
  <link th:href="@{/styles.css}" rel="stylesheet"/>
</head>
<body>

<p th:unless="${cardList} and ${cardList.size()}">No cards :(</p>

<button  th:onclick="|document.location='@{/admin/AddCard}'|">Add New Card</button>

<table>
  <tr>
    <th>Card</th>
    <th>Set</th>
    <th></th> <!-- IMAGE -->
    <th>Number Available</th>
    <th>Price</th>
    <th></th> <!-- BUTTON OPTIONS -->
  </tr>
  <tr th:each="card,iter : ${cardList}">
    <td th:text="${card.cardName}">CARD</td>
    <td th:text="${card.setName}">SET</td>
    <td>
      <img class="cardImage" th:src="@{/img/{file}(file=${card.cardImageFileName})}" th:alt="${card.cardName}">
    </td>
    <td th:text="${cardInventoryList.get(iter.index).count}">AVAILABLE</td>
    <td th:text="${card.costUSD}">PRICE</td>
    <td>
      <br/>
      <button>Delete Card</button>
      <br>
      <button  th:onclick="|document.location='@{/admin/UpdateCard}'|">Update Card</button>
    </td>

  </tr>

</table>
</body>
</html>