<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Detail</title>
    <link th:href="@{/styles.css}" rel="stylesheet"/>
</head>
<body>

<form method="post">
    <table>
        <tr>
            <th>Card</th>
            <th>Set</th>
            <th>Image</th>
            <th>Number Available</th>
            <th>Price</th>
        </tr>
        <tr>
            <td>
                <input type="text" name="newName">
            </td>
            <td>
                <input type="text" name="newSet">
            </td>
            <td>

                <input type="file" name="newImage">
                <br>
                <input type="text" name="newImageLocation" value="ex:'cmr-425-eternal-witness.jpg'">
            </td>
            <td>
                <input type="number" name="initialAvailable">
            </td>
            <td>
                <input type="number" step="0.01" name="newPrice">
            </td>

        </tr>

    </table>
    <input type="submit" value="Add Card"/>
</form>
</body>
</html>